/*CSS DOCUMENT*/



img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%; /*Please leave this line.*/
}

header{
    background-color: #dcdcdc;
    color: #5f9ea0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;

}

h1{
    text-align: center;
    color: #f0f8ff;
    font-family: serif;
    font-size: 3em;
}
h2{
    text-align: center;
    color: #f0f8ff;
    font-size: 2em;
    font-family: serif;
    font-style: italic;
}
h3{
    color: #dcdcdc;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

body{
    padding: 2em;
    background-color: #fff5ee;
}

figcaption{
    font-style:italic;
    text-align: center;
    background-color: #f0f8ff;
    font-size: 1.5em;
}
/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */

li{
list-style-type: none;
}

footer{
    text-align: center;
    font-style: italic;
    color: #5f9ea0 ;
}
